@import "../../common/ThemeContextStyles.css";

/* Main CSS */
.main {
  min-height: 80vh;
  background-color: var(--colorOne);
  color: var(--colorTwo);
}

/* Projects CSS */
.projects {
  background-color: var(--colorThree);
  border-color: var(--colorTwo) !important;
}

.projectsContainer {
  min-height: 70vh;
  background-color: var(--colorOne);
  border-color: var(--colorTwo) !important;
}