@import "../../common/ThemeContextStyles.css";

/* Header CSS */
.header {
    background-color: var(--colorOne);
    border-color: var(--colorTwo) !important;
}

/* NavBar CSS */
.navHeader {
    background-color: var(--colorThree);
    border-color: var(--colorTwo) !important;
    border-bottom-right-radius: 3rem;
}

.navToggler {
    font-family: "Lobster", cursive;
    border-color: var(--colorTwo) !important;
    color: var(--colorTwo);
    height: 10%;
    width: 30%;
}

.navToggler:hover {
    background-color: var(--colorFour);
    color: var(--colorOne);
}

.navLink {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--colorTwo);
    font-family: 'Rubik', sans-serif;
}

.navLink:hover {
    color: var(--colorSix);

}

.info {
    color: var(--colorTwo);
}

/* Account CSS */
.navbarBrand {
    font-size: 2rem;
    font-family: "Lobster", cursive;
}

.themeIcon {
    outline: none;
    margin-bottom: 45px;
    height: 25px;
    width: 25px;
}

.heroImg {
    outline: none;
    margin-right: -15px;
    position: relative;
    height: 80px;
    width: 80px;
    border-color: var(--colorTwo) !important;
}

.dropdownMenu {
    background-color: var(--colorFour);
    color: var(--colorOne);
    border-color: var(--colorTwo) !important;
}

.dropdownContent {
    background-color: var(--colorFour);
    color: var(--colorOne);
}