@import "../common/ThemeContextStyles.css";

/* NavBar CSS */
.navBar{
  background-color: var(--colorThree);
  color: var(--colorFour);
}

.hero{
  background-color: var(--colorThree);
  color: var(--colorFour);
}