/* .btn0 {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: 700;
}

.btn0:hover {
    background-color: rgb(32, 156, 238);
    transition: 0.5s;
} */

/* Extra css */

/* .curvyR{
    border-radius: 5%;
} */